.bowl {
    height: 28px;
}

.coffee {
    height: 28px;
}

.tree {
    height: 28px;
}

.tropicaldrink {
    height: 28px;
}

.check {
    height: 12px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.rate {
    height: 20px;
}

.loader {
    height: 120px;
}

.map {
    height: 130px;
}

.sad {
    height: 130px;
}
