@import '../../styles/index.scss';

.FoodDark {
    filter: invert(90%) sepia(68%) saturate(0%) hue-rotate(169deg) brightness(95%) contrast(90%);
}

.CoffeeDark {
    filter: invert(90%) sepia(68%) saturate(0%) hue-rotate(169deg) brightness(95%) contrast(90%);
}

.TreeDark {
    filter: invert(90%) sepia(68%) saturate(0%) hue-rotate(169deg) brightness(95%) contrast(90%);
}

.BarDark {
    filter: invert(90%) sepia(68%) saturate(0%) hue-rotate(169deg) brightness(95%) contrast(90%);
}

.Check {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.Avatar {
    cursor: pointer;
}

.Logout {
    cursor: pointer;
    filter: invert(82%) sepia(12%) saturate(104%) hue-rotate(2deg) brightness(95%) contrast(89%);
}

.Back {
    cursor: pointer;
}

.ArrowTop {
    transform: rotate(180deg);
}

.ArrowLeft {
    cursor: pointer;
}

.Close {
    cursor: pointer;
}

.CircledHeart {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        filter: invert(31%) sepia(25%) saturate(0%) hue-rotate(222deg) brightness(92%) contrast(87%);
    }
}

.CircledPhone {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        filter: invert(31%) sepia(25%) saturate(0%) hue-rotate(222deg) brightness(92%) contrast(87%);
    }
}
