@import '../../styles/index.scss';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.image {
    background-image: url('../../assets/autorizathion.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-right: 2px solid $gray;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.back {
    position: absolute;
    top: 48px;
    left: 48px;
}

.form__title {
    margin-bottom: 20px;
}

.form__footer {
    font-size: 14px;
    color: $darkGray;
}

.form__link {
    cursor: pointer;
    color: $blue;
    font-weight: bold;
}

@media (max-width: 576px) {
    .container {
        display: block;
        height: 100vh;
    }

    .videoContainer {
        display: none;
    }

    .form {
        height: 100%;
    }
}
