$white: #ffffff;
$black: #000000;

$darkGray: #282828;
$lightGray: #efeff1;
$gray: #d9d9d9;

$darkGreen: #009262;
$lightGreen: #f1fbf8;
$green: #32c997;

$darkRed: #e02b1d;
$lightRed: #fff1f0;
$red: #ff4e42;

$darkBlue: #1820ef;
$lightBlue: #4196f0;
$blue: #0671e0;
